section.comments
    width      ($container-width - $sidebar-width - $base-spacing*3)
    padding    15px $base-spacing
    background mix($base-bg-color, #000, 97)
    min-height 200px
    box-shadow inset 0 0 1px #0002
    margin-top $base-spacing
    position   relative
    overflow   hidden

    $offset = 74px
    margin-bottom $offset
    transition all .3s

    #disqus_thread
        -webkit-filter grayscale(100%)
        margin-bottom (- $offset)
        transition all .3s

    &:hover
        padding-bottom ($offset + 15)
        margin-bottom  0

        #disqus_thread
            -webkit-filter grayscale(0)