section.content
    background #FFF
    box-shadow $base-box-shadow
    padding    0 $base-spacing $base-spacing
    position   relative
    clearfix()

    &.archive
        background none
        padding 0
        box-shadow none

        .with-sidebar &
            width ($container-width - $sidebar-width - $base-spacing)

        > *:first-child
            margin-top 0

    .with-sidebar &
        width ($container-width - $sidebar-width - $base-spacing*3)