footer
    margin-top $base-spacing*2
    border-top 2px solid $light-color
    padding    $base-spacing
    color      #BBB
    font-size  80%

    clearfix()
    .copy
        float right
    .links
        a
            color        $base-text-color
            display      inline-block
            margin-right 10px