.post

    h2 a
        text-decoration none
        &:hover
            text-decoration underline

    // .post-info
    //     float      right
    //     text-align right
    //     margin-top 5px

    // ul.post-categories
    //     list-style none
    //     margin     0 0 -20px
    //     padding    0

    //     li
    //         display inline-block
    //         padding 0

    .toc
        margin        20px 0
        padding       0 0 20px 0
        list-style    none
        border-bottom 2px solid $base-bg-color
        font-weight   bold
        font-size     90%

        .toc-child
            font-size   90%
            font-weight normal
            list-style  none
            padding     0 0 0 15px

        a
            text-decoration none
            &:hover .toc-text
                text-decoration underline
        .toc-number
            color $grey-color

    &.post-full .post-info
        border-bottom  2px solid $base-bg-color
        padding-bottom 20px
        margin-bottom  20px
    .post-info
        > *
            font-size       75%
            line-height     160%
            display         inline-block
            background      $base-bg-color
            padding         0 $small-spacing
            text-decoration none
            border-left     2px solid $grey-color
            color           $grey-color
            margin-right    10px

        > a
        .post-categories
            border-color $accent-color
            transition background .15s

            &:hover
                background $accent-color

                &, *
                    color #FFF

        .post-categories a
            text-decoration none
            color           $grey-color

            &:first-child:before
                display none
            &:before
                content ' / '
                opacity .5

        .post-comments
            font-weight bold
            &:before
                font-weight normal
                content 'Комментариев: '


    ul.post-tags
        list-style none
        margin     20px 0 0 0
        padding    0
        border-top 2px solid $base-bg-color

        li
            display inline-block
            margin-right 5px
            font-size 80%

            &:before
                content ' #'
                color #DDD
            // &:first-child:before
            //     display none
        a
            text-decoration none
            color $grey-color
            &:hover
                color $accent-color
                text-decoration underline

    .blog &
        border-top  1px solid $base-bg-color
        padding-top $base-spacing
        margin-top  $base-spacing

        &:first-child
            border none
            padding-top 0

        .post-info
            margin-top -20px
        // .post-date
        //     display block


    .archive &
        border-top 1px solid $base-bg-color
        padding    5px 0

        .title
            text-decoration none

        // .post-date
        //     width      70px
        //     text-align right

        // .post-categories
        //     float right
        //     a
        //         margin 0 0 0 10px
.post
    img
        display block
        margin 20px auto

    .image-border
        border 2px solid $light-color
    .image-shadow
        box-shadow 0 1px 5px #0002