aside.sidebar
    float    right
    width    $sidebar-width
    position relative

    ul
        list-style none
        margin 0 0 $base-spacing
        padding 0
    a
        text-decoration none
        color #999
        &:hover
            color $accent-color
            text-decoration underline

    .category-list

        li
            border-bottom 1px dashed #0001
            padding 5px 0
        a
            color $dark-color
            font-size 90%

    .tag-list
        a
            font-size 80%

    .tag-list-count
    .category-list-count
        float right
        color #BBB
        font-size 80%