if site.posts
    section.content.blog
        each post in page.posts.sort('date', -1).data
            article.post
                h2: a(href=post.permalink): =post.title

                !=partial('_partial/post_info', {post: post})
                .post-notice!=post.excerpt