.post
    .container
        //- section.content.blog.post-full
        //- article.post.post-full

        h1= page.title

        !=partial('partial/post-info', {post: page})

        //- if page.toc !== undefined
        //-     !=toc(page.content, {list_number: false})

        !=page.content

        if page.tags
            ul.post-tags
                each tag in page.tags.data
                    li: a(href=tag.permalink): =tag.name

    !=partial('partial/comments', {identifier: page.slug})