$container-width  = 980px
$base-spacing     = 30px
$small-spacing    = 10px
$tiny-spacing     = 5px
$base-font-family = "Open Sans", "Lucida Grande", sans-serif
$alt-font-family  = "PT Serif", serif
$mono-font-family = "Monaco", monospace


$header-height = 60px
$sidebar-width = 150px

$base-text-color  = #555
$base-bg-color    = #f5f8f9
// $base-bg-color    = #D3D5D5

$accent-color = #60C2A3
$accent-color = #3BA
$accent-color = #D32
// $accent-color = #09E
// $accent-color = #E55
// $accent-color = #F93

$light-color  = #0001
$grey-color   = #999
$dark-color   = #444

$ui-active-dot-size = 18px
$base-box-shadow = 0 2px 1px #9991