
#comments
    .container
        #disqus_thread

script var disqus_shortname="devhook",disqus_identifier="#{identifier}";!function(a){var b=a.createElement("script");b.type="text/javascript",b.async=!0,b.src="//"+disqus_shortname+".disqus.com/embed.js",(a.getElementsByTagName("head")[1]||a.getElementsByTagName("body")[0]).appendChild(b)}(document);
noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>