footer
    .container
        .copy 15 © Devhook
        .links
            a(href="https://github.com/zb3k/devhook.net") GitHub

//- COUNTERS
script (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter31511383 = new Ya.Metrika({ id:31511383, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
noscript: div: img(src="https://mc.yandex.ru/watch/31511383" style="position:absolute; left:-9999px;" alt="")